<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Work with forms</h1>
<ul>
  <li><a href="{% url 'core:Form1View' %}">cbv form</a></li>
  <li><a href="{% url 'core:form1_view' %}">fbv form</a></li>
  <li><a href="{% url 'core:ItemCreateView' %}">cbv create model form</a></li>
  <li><a href="{% url 'core:item_create_view' %}">fbv create model form</a></li>


  {% if item %}
    <li><a href="{% url 'core:ItemUpdateView' pk=item.pk %}">cbv update model form</a></li>
    <li><a href="{% url 'core:item_update_view' pk=item.pk %}">fbv update model form</a></li>
  {% endif %}
</ul>

</body>
</html>