<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h1>{% if object %}Update{% else %}Create{% endif %}</h1>
<div>{% if curr_view.view_name == 'core:ItemCreateView' or curr_view.view_name == 'core:ItemUpdateView' %}CBV{% else %}
  FBV{% endif %} example
</div>
<div data-ctl="ajax-content">
  {% include 'apps/core/item_create_update_view_ajax.html' %}
</div>

<button type="button" data-ctl="btn">ajax send</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.js"></script>

<script>
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
          // Only send the token to relative URLs i.e. locally.
          xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));
        }
      }
    });

    $(function () {
      $('[data-ctl="btn"]').on('click', function () {
        $.ajax({
          url: '{% if object %}{% url 'core:ItemUpdateViewAjax' pk=object.pk %}{% else %}{% url 'core:ItemCreateViewAjax' %}{% endif %}',
          data: new FormData($('[data-ctl="ajax-form"]').get(0)),
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          success: function (data) {
            $('[data-ctl="ajax-content"]').html(data)
          }
        })
      })
    })

</script>

</body>
</html>