{% if success %}
  <h2>Success!!</h2>
{% else %}
  <form action="" data-ctl="ajax-form" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit">submit</button>
  </form>
{% endif %}