<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<a href="{% url 'core:IndexView' %}">go home</a>
<h1>{{ object.title }}</h1>
<h2>{{ object.info }}</h2>

<h3><a href="{% url 'core:ItemUpdateView' pk=object.pk %}">edit cbv</a></h3>
<h3><a href="{% url 'core:item_update_view' pk=object.pk %}">edit fbv</a></h3>
</body>
</html>